@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Roboto+Condensed:wght@300;400;500&display=swap");

@font-face {
  font-family: Asylum;
  src: url("./assets/BlackAsylumDEMO-KCFonts.ttf");
}

:root {
  --title-text: #f8f2f1f3;
  --small-text: #f5f4f4ec;
  --link-color: #f5f4f4;
  --red-text: #a01414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4;
  background: #000;
  overflow-x: hidden;
  color: var(--small-text);
  width: 100%;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:focus {
  outline: none;
}

a:active {
  border: none;
  outline: none;
}

ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

li {
  list-style-type: none;
}

.fa-bars,
.fa-times {
  display: none;
}

nav {
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 10;
  background: transparent;
  height: 140px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  z-index: 10;
  height: auto;
}

.nav-logo {
  width: 220px;
  z-index: -10;
  position: absolute;
  top: -1.2rem;
  left: 0;
}

.nav-logo-container {
  position: relative;
  will-change: transform;
  animation: logoAnimation 0.8s linear 0.1s;
  backface-visibility: hidden;
}

.nav-logo-container a {
  text-decoration: none;
}

.nav-logo-container h2 {
  color: var(--title-text);
  z-index: 100;
  padding: 1.8rem 0 0 1.8rem;
  font-family: Asylum;
  font-size: 2.5rem;
  font-weight: 300;
  opacity: 0.9;
}

.nav-link-container {
  height: auto;
}

.nav-link-container a {
  width: 100%;
  z-index: 10;
  display: inline-block;
  margin-right: 2rem;
  color: var(--link-color);
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

.nav-link-container a:hover,
.nav-link-container a:active {
  color: var(--red-text);
  border-top: 2px solid var(--red-text);
  cursor: pointer;
}

.video-section {
  position: relative;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  background-size: cover;
  background-position: center center;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-container:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: radial-gradient(rgba(20, 19, 19, 0.951), rgba(97, 26, 26, 0.421));
  backdrop-filter: brightness(70%);
}

.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 85%;
  padding: 21rem 15rem 15rem;
}

.content {
  z-index: 10;
  max-width: 50%;
  position: relative;
}

.content h1 {
  color: var(--title-text);
  font-family: "IM Fell English SC";
  font-weight: 400;
  font-size: 3.8rem;
  line-height: 1;
  margin-bottom: 10px;
}

.content p {
  color: rgba(255, 255, 255, 0.767);
  font-size: 1.5rem;
  font-weight: 300;
  max-width: 88%;
}

.btn {
  display: inline-block;
  padding: 10px 40px;
  color: #ffffffd8;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.05rem;
  background: var(--red-text);
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  margin-top: 25px;
  text-decoration: none;
}

.btn:hover {
  transform: scale(0.98);
}

#about {
  padding: 3.5rem 3.5rem 3rem;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
}

.award-logo-container {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 8rem;
}

.award-logo-container blockquote {
  margin-top: 2rem;
}

.award-logo-container p {
  color: var(--small-text);
  font-size: 1.5rem;
}

.award-logo-container footer {
  color: var(--small-text);
  margin-left: 4rem;
}

.awards {
  height: 200px;
  opacity: 0.9;
}

.history-header {
  color: var(--red-text);
  text-align: center;
  font-family: "IM Fell English SC";
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
}

.details {
  color: var(--small-text);
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 0;
}

.details-img img {
  width: 450px;
  height: 500px;
  object-fit: cover;

  filter: brightness(85%);
}

.details .text {
  width: 50%;
  font-size: 1.5rem;
}

#visit {
  padding: 0 3rem;
  text-align: left;
  width: 90%;
  margin: 8rem auto 0;
}

.visit-flex-container {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.visit-text-container {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 50%;
}

.visit-text-container h3 {
  color: var(--red-text);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: Asylum;
  font-weight: 300;
  font-size: 1.8rem;
}

.visit-text-container h1 {
  font-size: 3rem;
  color: var(--title-text);
  font-weight: 400;
  line-height: 1;
  font-family: "IM Fell English SC";
}

.visit-categories {
  display: flex;
  height: auto;
  flex-direction: column;
  margin-top: 2rem;
  width: 90%;
}

.visit-categories h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--red-text);
}

.visit-categories p {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--small-text);
}

.category {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: left;
  margin-bottom: 2rem;
}

.category-img img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 1.8rem;
  object-fit: cover;
  background-position: center;
  filter: brightness(85%);
}

.calendar-container {
  flex: 1;
}

.calendar {
  height: 500px;
  width: 700px;
}

.hours h3,
.hours h4,
.tickets h3 {
  color: var(--title-text);
  font-family: "Roboto Condensed";
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.location {
  color: var(--small-text);
  padding: 6rem 0 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 1.2rem;
  height: auto;
  width: 75%;
  margin: 0 auto;
}

.location a {
  color: var(--red-text);
}

.address {
  margin-bottom: 0.7rem;
}

.corn-header-content {
  width: 100%;
  position: relative;
}

.corn-img img {
  object-fit: cover;
  width: 100%;
  height: 550px;
  filter: brightness(70%);
}

.corn-header {
  color: var(--title-text);
  padding: 2rem 2.5rem;
  background: rgba(107, 104, 104, 0.2);
  text-shadow: 0 2px 2px rgba(190, 190, 190, 0.22);

  font-size: 1.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.corn-body {
  color: var(--small-text);
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.corn-body-text {
  padding: 2rem;
  font-size: 1.5rem;
  width: 55%;
  line-height: 1.5;
}

.corn-body-text h1 {
  text-align: center;
  padding: 2rem 0 1rem;
  font-family: "IM Fell English SC";
  color: var(--red-text);
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
}

.corn-categories {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  width: 65%;
  height: auto;
  margin: 2.5rem auto 0;
}

.corn-categories h1 {
  color: var(--red-text);
  font-family: "IM Fell English SC";
}

@keyframes logoAnimation {
  0% {
    transform: scale(20) translateX(20px);
  }
  25% {
    transform: scale(15) translateX(15px);
  }
  50% {
    transform: scale(10) translateX(10px);
  }

  75% {
    transform: scale(5) translateX(5px);
  }

  100% {
    transform: scale(1) translateX(0);
  }
}

@media (max-width: 1024px) {
  nav {
    width: 100vw;
    height: 80px;
  }

  .nav-link-container {
    width: auto;
  }

  .nav-link-container a {
    font-size: 0.95rem;
    margin-right: 0;
    margin-right: 1rem;
    justify-content: space-evenly;
  }

  .nav-logo {
    width: 120px;
  }

  .nav-logo-container h2 {
    font-size: 1.5rem;
    padding: 0 1rem 1rem;
  }

  .video-section {
    position: relative;
    height: 800px;
  }

  .video-container {
    z-index: -10;
  }

  .video-container:after {
    object-fit: cover;
  }

  .content-wrapper {
    padding: 9rem 3rem 5rem;
    width: 100%;
  }

  .btn {
    font-size: 1rem;
  }

  .content {
    max-width: 100%;
  }

  .content h1 {
    font-size: 2.8rem;
  }

  .content-p {
    font-size: 1rem;
  }

  #about {
    padding: 1rem;
    margin: 0;
    width: 100%;
  }

  .award-logo-container {
    padding: 1.5rem 1rem;
    margin: 0;
    max-width: 100%;
  }

  .awards {
    height: 170px;
    width: 700px;
  }

  .details {
    flex-direction: column;
    padding: 2rem 0;
  }

  .details-img img {
    width: 550px;
    height: 500px;
    margin-bottom: 1rem;
  }

  .details .text {
    width: 94%;
  }

  #visit {
    padding: 1rem;
    margin: 2rem auto;
  }

  .visit-flex-container {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .visit-text-container {
    width: 100%;
    justify-content: center;
  }

  .visit-text-container h1 {
    font-size: 2rem;
  }

  .visit-categories {
    margin-top: 3rem;
    width: 100%;
  }

  .calendar {
    height: 440px;
    width: 440px;
  }

  .location {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0 0;
    width: 85%;
    font-size: 1rem;
  }

  .corn-header {
    padding: 1rem;
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
  }

  .corn-img img {
    height: 500px;
  }

  .corn-body {
    width: 90%;
    padding: 1rem;
  }

  .corn-body-text {
    width: 80%;
    padding: 1rem;
  }

  .corn-categories {
    margin: 2rem auto;
    /* justify-content: center;
    align-items: center; */
  }
}

@media (max-width: 620px) {
  nav {
    width: 100vw;
    height: 60px;
    padding-top: 0;
  }

  .menu {
    overflow: hidden;
    z-index: 1000;
    flex-direction: column;
    padding: 1.5rem;
    display: none;
  }

  .nav-link-container {
    width: auto;
    text-align: right;
    padding: 0.5rem 1rem 0 0;
  }

  .menu a {
    margin: 0 0 0.5rem;
    text-align: center;
    font-size: 1.2rem;
  }

  .nav-link-container a:hover,
  .nav-link-container a:active {
    border: none;
  }

  .menu-icon {
    font-size: 0;
  }

  .fa-bars {
    display: block;
    color: var(--small-text);
    cursor: pointer;
  }

  .fa-times {
    display: block;
    color: var(--red-text);
    cursor: pointer;
  }

  .open-menu {
    display: block;
  }

  .open {
    background: rgba(0, 0, 0, 0.4);
  }

  .nav-logo {
    width: 120px;
    top: -0.5rem;
    left: -0.5rem;
  }

  .nav-logo-container h2 {
    font-size: 1.4rem;
    padding: 1rem 0.5rem;
  }

  .video-section {
    position: relative;
  }

  .video-container {
    z-index: -10;
  }

  .video-container:after {
    object-fit: cover;
  }

  .content-wrapper {
    padding: 9rem 3rem 5rem;
    width: 100%;
  }

  .btn {
    font-size: 1rem;
  }

  .content {
    max-width: 100%;
  }

  .content h1 {
    font-size: 2.8rem;
  }

  .content-p {
    font-size: 1rem;
  }

  #about {
    padding: 1rem;
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  .award-logo-container {
    padding: 1.5rem 1rem;
    margin: 0;
    max-width: 100%;
  }

  .award-logo-container p {
    font-size: 1.3rem;
  }

  .award-logo-container footer {
    margin-left: 2.7rem;
  }

  .awards {
    height: 80px;
    width: 380px;
  }

  .details {
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
  }

  .details-img img {
    width: 100%;
    height: 300px;
    margin-bottom: 1rem;
    display: block;
  }

  .details .text {
    width: 90%;
  }

  #visit {
    padding: 1rem;
    margin: 2rem auto;
  }

  .visit-flex-container {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .visit-text-container {
    width: 100%;
    justify-content: center;
  }

  .visit-text-container h1 {
    font-size: 1.6rem;
  }

  .visit-text-container h3 {
    margin-bottom: 0;
  }

  .visit-categories {
    margin-top: 3rem;
    width: 100%;
  }

  .hours p {
    font-size: 1.3rem;
  }

  .hours h3,
  .pricing h3 {
    font-size: 1.3rem;
  }

  .calendar {
    height: 300px;
    width: 340px;
  }

  .location {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 0 0;
    width: 85%;
    font-size: 1rem;
  }

  .corn-header {
    padding: 1rem;
    font-size: 1.5rem;
    width: 85%;
    text-align: center;
  }

  .corn-img img {
    height: 300px;
  }

  .corn-body {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  .corn-body-text {
    width: 100%;
    padding: 1rem;
  }

  .corn-categories {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @keyframes logoAnimation {
    0% {
      transform: scale(12) translateX(22px) translateY(15px);
    }
    25% {
      transform: scale(9) translateX(18px) translateY(12px);
    }
    50% {
      transform: scale(6) translateX(14px) translateY(8px);
    }

    75% {
      transform: scale(3) translateX(8px) translateY(4px);
    }

    100% {
      transform: scale(1) translateX(0) translateY(0);
    }
  }
}

@media (max-width: 375px) {
  .content-wrapper {
    padding: 15rem 2rem 1rem;
  }

  .award-logo-container {
    max-width: 100%;
    padding: 0;
  }

  .awards {
    height: 70px;
    max-width: 320px;
  }

  .details .text {
    font-size: 1.3rem;
  }

  .history-header {
    font-size: 3rem;
  }

  #about {
    overflow: hidden;
  }

  .details {
    max-width: 100%;
  }

  #visit {
    margin: 2rem 0;
    text-align: unset;
    width: 100%;
    padding: 1rem;
  }

  .visit-text-container h1 {
    font-size: 1.5rem;
  }

  .calendar {
    width: 320px;
  }

  .location {
    width: 95%;
  }
}
